@media only screen and (max-width: 992px) {
  .container {
    /* display: flex !important; */
    flex-wrap: nowrap !important;
  }
  .comfort-heading {
    margin-top: 1.6rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .carousel-caption h5 {
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }

  .carousel-caption p {
    padding: 10px 15px;
    font-size: 15px;
  }
  .carousel .card-bottom {
    display: none;
  }

  /* cards */

  .card__data {
    position: absolute;
    bottom: -10rem;
  }
  .containers {
    display: none;
  }

  /*  */
  .comfort-heading {
    margin-top: 1.6rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .carousel1 h5 {
    margin-top: 18px !important;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
  }
  .carousel1 p {
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: unset !important;
  }
  .icon {
    display: none !important;
  }
  .carousel1 p a {
    font-size: 13px !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
  }
  .input_box input {
    border-radius: 10px !important;
    width: 100% !important;
  }
  .input_box button {
    border-radius: 20px !important;
    background-color: black !important;
    color: white !important;
    display: none !important;
  }
  .line_height {
    line-height: 1 !important;
  }
  .container-cards {
    margin-top: 6px !important;
  }
  .containers {
    display: block;
  }
  .card__data {
    width: 280px;
    background-color: aliceblue;
    padding: 2.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 3rem !important;
  }
  .comfort-heading {
    margin-top: 1.4rem !important;
  }
}

/* animation-card */

@media screen and (max-width: 430px) {
  .card__img {
    width: 315px;
    height: 330px;
    border-radius: 1.5rem;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 2rem !important;
  }
  .comfort-heading {
    margin-top: 1.2rem !important;
  }
}

@media screen and (max-width: 400px) {
  .card__img {
    width: 300px;
    height: 300px;
    border-radius: 1.5rem;
  }
  .line_height {
    line-height: 1 !important;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.8rem !important;
  }
  .comfort-heading {
    margin-top: 0.8rem !important;
  }
}
@media screen and (max-width: 370px) {
  .card__img {
    width: 260px;
    height: 260px;
    border-radius: 1.5rem;
  }
  .line_height {
    line-height: 1 !important;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1rem !important;
  }
  .comfort-heading {
    margin-top: 0.8rem !important;
  }
}
@media screen and (max-width: 350px) {
  .card__img {
    width: 250px;
    height: 250px;
    border-radius: 1.5rem;
  }
  .carousel-caption {
    position: absolute;
    bottom: 0rem !important;
  }
  .card__title {
    font-size: 1.3rem;
    margin-top: -2rem !important;
  }
  .card__data {
    width: 220px;
    height: 290px;
    background-color: aliceblue;
    padding: 2rem 1.3rem;

    position: absolute;
    bottom: -9.8rem;
  }
  .card__rate {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 0.9rem;
    margin-inline: 0rem;
    color: white;
    white-space: nowrap;
  }
  .comfort-heading {
    margin-top: 1.8rem !important;
  }
}
@media screen and (max-width: 340px) {
  .card__img {
    width: 248px;
    height: 248px;
    border-radius: 1.5rem;
  }
  .card__data {
    width: 218px;

    position: absolute;
    bottom: -10rem;
    padding: 1.1rem;

    white-space: nowrap;
  }
  .card__title {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: -1rem !important;
    padding: unset;
  }
  .card__rate {
    font-size: 1.2rem;
    font-weight: 400;
    margin: unset;
    padding: unset;
  }
  .card__data:hover .card-address {
    text-align: left !important;
    white-space: nowrap !important;
  }
  .comfort-heading {
    margin-top: 0.8rem !important;
  }
  .Resident-Tower-heading {
    margin-left: 2.5rem !important;
  }
  .blog-heading {
    margin-left: 0.8rem;
  }
  .Godrej-logo img {
    width: 70% !important;
  }
  .eldeco-logo img {
    width: 70% !important;
  }
  .tata-logo img {
    width: 70% !important;
  }
  .logo-containers {
    padding: unset !important;
  }

  .logo-center {
    margin-bottom: 2rem !important;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0rem !important;
  }
}

@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.5rem;
  }
}

@media screen and (min-width: 1120px) {
  .container-cards {
    height: 100vh;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
